## {{ ansible_managed }}

Host slurm-login
  Hostname {{ _terraform.outputs.slurm_login_floating_ip.value }}
  User {{ ssh_user }}
  IdentityFile {{ ssh_key_path }}
  AddKeysToAgent yes
  ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  # last option workaround for
  # https://serverfault.com/questions/840011/ssh-host-key-checking-cannot-disable-when-using-proxy-jump

Host * !slurm-login
  User {{ ssh_user }}
  IdentityFile {{ ssh_key_path }}
  ProxyJump slurm-login
  StrictHostKeyChecking no
