---

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  comments-indentation: disable
  comments: {require-starting-space: false}

ignore: |
  ansible/roles
  ansible/collections
  ansible/README.md
  virtenv
  venv
  config/vault
