---

- name: Configure course environment
  hosts: course
  gather_facts: true
  become: true

  tasks:

    - name: Configure timesyncd time
      ansible.builtin.import_role:
        name: wf72.systemd_timesyncd
      tags: timesyncd

    - name: Install some basic packages defined in variable "local_common_packages_to_install"
      ansible.builtin.apt:
        name: "{{ local_common_packages_to_install }}"
        cache_valid_time: 600
      when:
        - local_common_packages_to_install is defined
        - local_common_packages_to_install | length > 0
      tags: common_packages

    - name: Format and mount local disks if defined
      ansible.builtin.import_role:
        name: aeriscloud.disk
      when: disk_additional_disks | length > 0
      tags: local_mounts

    - name: Configure nfs exports if machine is in group nfs_server
      ansible.builtin.import_role:
        name: mrlesmithjr.nfs-server
      when: "'nfs_server' in group_names"
      tags: nfs_server

    - name: Flush handlers so NFS server is restarted
      ansible.builtin.meta: flush_handlers

    - name: Mount NFS shares if defined
      ansible.builtin.import_role:
        name: ome.nfs_mount
      when: nfs_share_mounts | length > 0
      tags: nfs_mounts

    - name: Create local accounts if defined
      ansible.builtin.import_role:
        name: robertdebock.users
      when:
        - users is defined
        - users | length > 0
      tags: users

    - name: Install the cvmfs client if machine is in the cvmfs_client group
      ansible.builtin.import_role:
        name: pescobar.cvmfs_client
      when: "'cvmfs_clients' in group_names"
      tags: cvmfs_clients

    - name: Configure sshd if sshd config is defined
      ansible.builtin.import_role:
        name: willshersystems.sshd
      when:
        - sshd is defined
        - sshd | length > 0
      tags: sshd

    # - name: Install and configure docker if machine is in the docker group
    #   ansible.builtin.import_role:
    #     name: geerlingguy.docker
    #   when: "'docker' in group_names"
    #   tags: docker

    # - name: Configure fail2ban if fail2ban config is defined
    #   ansible.builtin.import_role:
    #     name: robertdebock.fail2ban
    #   when: fail2ban_jail_configuration | length > 0
    #   tags: fail2ban

    - name: Configure users accounts in the cluster
      tags: user_accounts
      block:

        - name: Create a default group "users" for every user
          ansible.builtin.group:
            name: "users"
            gid: 2000
            state: present

        # We do this in the NFS server to make sure that root can access the home folders (just in case root squash is enabled)
        - name: Create the user accounts (starting with uid 2001) | First in the NFS server to create home folders
          when: "'nfs_server' in group_names"
          ansible.builtin.user:
            name: "user{{ item }}"
            uid: "20{{ item }}"
            group: "users"
            home: "{{ local_nfs_mount_point }}/home/user{{ item }}"
            create_home: yes
            shell: /bin/bash
            #update_password: always
            password: "{{ local_users_accounts_password }}"
            generate_ssh_key: yes
            ssh_key_comment: "user{{ item }}_slurm_cluster@ansible-generated"
            state: present
            ssh_key_file: .ssh/id_ed25519
            ssh_key_type: ed25519
          with_sequence: "count={{ local_users_accounts }} format=%02u"

        - name: Create the user accounts (starting with uid 2001) | Now in every machine
          ansible.builtin.user:
            name: "user{{ item }}"
            uid: "20{{ item }}"
            group: "users"
            home: "{{ local_nfs_mount_point }}/home/user{{ item }}"
            create_home: yes
            shell: /bin/bash
            #update_password: always
            password: "{{ local_users_accounts_password }}"
            generate_ssh_key: yes
            ssh_key_comment: "user{{ item }}_slurm_cluster@ansible-generated"
            state: present
            ssh_key_file: .ssh/id_ed25519
            ssh_key_type: ed25519
          with_sequence: "count={{ local_users_accounts }} format=%02u"

        # We do this in the NFS server to make sure that root can access the home folders (just in case root squash is enabled)
        - name: Get the ssh public keys for every user
          when: "'nfs_server' in group_names"
          ansible.builtin.slurp:
            src: "{{ local_nfs_mount_point }}/home/user{{ item }}/.ssh/id_ed25519.pub"
          register: _all_users_ssh_public_keys
          with_sequence: "count={{ local_users_accounts }} format=%02u"

        # We do this in the NFS server to make sure that root can access the home folders (just in case root squash is enabled)
        - name: Add the user ssh keys to their accounts
          when: "'nfs_server' in group_names"
          ansible.posix.authorized_key:
            user: "user{{ item.item }}"
            key: "{{ item.content | b64decode }}"
          loop: "{{ _all_users_ssh_public_keys.results }}"

        # We do this in the NFS server to make sure that root can access the home folders (just in case root squash is enabled)
        - name: Deploy custom ssh config for each user
          when: "'nfs_server' in group_names"
          ansible.builtin.blockinfile:
            path: "{{ local_nfs_mount_point }}/home/user{{ item }}/.ssh/config"
            create: yes
            backup: yes
            owner: "user{{ item }}"
            mode: 0600
            marker: "# {mark} ANSIBLE MANAGED SSH CONFIG"
            block: |
              Host *
                  StrictHostKeyChecking no
                  ServerAliveInterval 10
          with_sequence: "count={{ local_users_accounts }} format=%02u"

        - name: Add the teacher's ssh public keys to the ubuntu account in every machine
          ansible.posix.authorized_key:
            user: ubuntu
            key: "{{ item }}"
          loop: "{{ local_teachers_ssh_keys }}"
          tags: ssh_keys_teachers

        # - name: Create a private ssh key for user centos in login node
        #   ansible.builtin.user:
        #     name: "centos"
        #     generate_ssh_key: yes
        #     ssh_key_comment: "centos@slurm-login"
        #   when: "'slurm_login' in group_names"
        #   tags: ssh_keys_teachers

        # - name: Fetch the centos user public ssh key from login node to ansible control host
        #   ansible.builtin.fetch:
        #     src: "~centos/.ssh/id_rsa.pub"
        #     dest: "/tmp/id_rsa_centos_login_node.pub"
        #     flat: yes
        #   when: "'slurm_login' in group_names"
        #   tags: ssh_keys_teachers

        # - name: Add the public key for user centos to every machine
        #   ansible.builtin.authorized_key:
        #     user: "centos"
        #     key: "{{ lookup('file', '/tmp/id_rsa_centos_login_node.pub') }}"
        #   tags: ssh_keys_teachers

        # - name: Configure a cgroups memory limit in login node for every user
        #   ansible.builtin.import_role:
        #     name: pescobar.cgroups_mem_limit
        #   vars:
        #     # this is the user group where all the users are created
        #     cgroup_to_whom_the_limit_applies: '@users'
        #   when: "'slurm_login' in group_names"

    - name: Configure slurm if machine is in the slurm group
      ansible.builtin.import_role:
        name: scicore.slurm
      when: "'slurm' in group_names"
      tags: slurm

# vim: tabstop=2 shiftwidth=2
