## {{ ansible_managed }}

Host slurm_login
  Hostname {{ _slurm_login_floating_ip }}
  User {{ slurm_cluster_ssh_remote_user }}
  IdentityFile {{ slurm_cluster_ssh_key_path }}
  StrictHostKeyChecking no

Host {{ _os_project_internal_ip_range }}
  User {{ slurm_cluster_ssh_remote_user }}
  IdentityFile {{ slurm_cluster_ssh_key_path }}
  ProxyJump slurm_login
  StrictHostKeyChecking no
