---

- name: Configure machines for the OpenMP course
  hosts: openmp_course
  become: yes
  gather_facts: yes

  tasks:

    - name: Apply common setup
      ansible.builtin.import_tasks: tasks/common.yml

    - name: Configure sshd to allow password authentication
      ansible.builtin.import_role:
        name: willshersystems.sshd
      vars:
        sshd:
          PasswordAuthentication: yes

    - name: force all notified handlers to run at this point, not waiting for normal sync points
      ansible.builtin.meta: flush_handlers

    - name: Create a default group {{ users_default_group }} for every user
      ansible.builtin.group:
        name: "{{ local_users_default_group }}"
        gid: 2000
        state: present

    - name: Create the user accounts (starting with uid 2001)
      ansible.builtin.user:
        name: "user{{ item }}"
        uid: "20{{ item }}"
        group: "{{ local_users_default_group }}"
        home: "/home/user{{ item }}"
        create_home: yes
        shell: /bin/bash
        update_password: always
        password: "{{ local_users_password }}"
        state: present
      with_sequence: "count={{ local_users_accounts_to_create }} format=%02u"

    - name: Configure cgroups to limit memory by user
      ansible.builtin.import_role:
        name: pescobar.cgroups_mem_limit
      tags: cgroups

    # we are going to configure fail2ban so we want a firewall
    - name: Install and then start/enable firewalld
      block:

        - name: Install firewalld
          package:
            name: firewalld
            state: installed

        - name: Start and enable and firewalld
          service:
            name: firewalld
            state: started
            enabled: yes

    - name: Install and enable fail2ban
      ansible.builtin.import_role:
        name: robertdebock.fail2ban
      tags: fail2ban

    - name: Add the teacher's ssh public keys to the centos account (grant sudo)
      ansible.posix.authorized_key:
        user: "centos"
        key: "{{ item }}"
      loop: "{{ local_teachers_ssh_keys }}"
      tags: ssh_keys_teachers

    - name: Configure the ComputeCanada software stack
      ansible.builtin.import_tasks: tasks/compute_canada.yml

    - name: Create profile file to define OMP_NUM_THREADS on login
      ansible.builtin.copy:
        dest: /etc/profile.d/openmp.sh
        owner: root
        group: root
        mode: 0644
        content: |
          #
          # ansible managed
          #
          export OMP_NUM_THREADS=4

    - name: Install InfluxDB
      ansible.builtin.import_role:
        name: influxdb

    - name: Install Grafana
      ansible.builtin.import_role:
        name: grafana

    - name: Install Telegraf
      ansible.builtin.import_role:
        name: telegraf

    - name: Open grafana port 3000/tcp in local firewall
      ansible.posix.firewalld:
        port: 3000/tcp
        permanent: yes
        state: enabled
        immediate: yes
